<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>User</title>
</head>

<body>
	<div align="center">
	<h1> User Login Form</h1>
		<form action="#" th:action="@{/loginuser}" th:object="${user}" method="post">
				<table border="0" cellpadding="5">
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" required/></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{password}" required /></td>
				</tr>	
				<tr>
					<td colspan="2"><button type="submit">Login</button> </td>
				</tr>
				
			</table>
		</form>
		<td>Don't have Account?</td><a href="/signup">Register</a> <br /><br />
	</div>
</body>
</html>